<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Bio.Views.Alignment.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Bio.Views.Alignment.Properties.Settings>
            <setting name="SelectedFontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="SelectedFont" serializeAs="String">
                <value>Arial</value>
            </setting>
            <setting name="MinGroupingRange" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ShowRowNumbers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReferenceSequenceColors" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>LightBlue</string>
                        <string>LightCoral</string>
                        <string>LightCyan</string>
                        <string>LightGoldenrodYellow</string>
                        <string>LightGray</string>
                        <string>LightGreen</string>
                        <string>LightPink</string>
                        <string>LightSalmon</string>
                        <string>LightSeaGreen</string>
                        <string>LightSkyBlue</string>
                        <string>LightSlateGray</string>
                        <string>LightSteelBlue</string>
                        <string>LightYellow</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SelectionColor" serializeAs="String">
                <value>SkyBlue</value>
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="SelectionTextColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="SeparatorColor" serializeAs="String">
                <value>DarkBlue</value>
            </setting>
            <setting name="SelectionBorderColor" serializeAs="String">
                <value>DarkBlue</value>
            </setting>
            <setting name="FocusedColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="FocusedBorderColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ForegroundTextColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="LineNumberTextColor" serializeAs="String">
                <value>DarkGreen</value>
            </setting>
            <setting name="FocusRectColor" serializeAs="String">
                <value>#30ff0000</value>
            </setting>
            <setting name="FocusRectBorderColor" serializeAs="String">
                <value>DarkRed</value>
            </setting>
            <setting name="AlignmentFontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="AlignmentFontFamily" serializeAs="String">
                <value>Consolas</value>
            </setting>
            <setting name="GroupHeaderBackgroundColor" serializeAs="String">
                <value>#FF363636</value>
            </setting>
            <setting name="GroupHeaderTextColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="NucleotideColors" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>AChocolate</string>
                        <string>IIndianRed</string>
                        <string>GDarkGreen</string>
                        <string>UDeepPink</string>
                        <string>CDarkBlue</string>
                        <string>NDarkOliveGreen</string>
                        <string>-LightGray</string>
                        <string>~LightGray</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ShowTaxonomyGroupLevel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SortByTaxonomy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OpenWithGrouping" serializeAs="String">
                <value>False</value>
            </setting>
        </Bio.Views.Alignment.Properties.Settings>
    </userSettings>
</configuration>